/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.sticky-nav{
    position: fixed;
    z-index: 10;
    top :0;
}
h1{
    text-align: center;
    color: #6d4c41;
}
main {
    flex: 1 0 auto;
}

.pair-section {
    background-color: #607d8b;
}

a {
    color: black;
}

.card-content {
    white-space: nowrap;
    margin: auto;
}
.card s3{
    margin: auto;
}