/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.pair-section {
    background-color: #607d8b;
}

a {
    color: black;
}

#presentation {
    margin-top: 3vh;
}

.card-content {
    white-space: nowrap;
    margin: auto;
}

.card-image {
    height: auto;
}